
.publications{

position:absolute; left:250px;  top:300px;
height:50%;overflow-y: auto;
/**/
}
.years{
width: 200px; height: 100px; overflow-y: auto;
}
.empty,
.authors{
width: 200px; height: 60px;overflow-y: auto;
}
.collaborators{
width: 200px; height: 100px;overflow-y: auto;
}
.journals{
width: 200px; height: 100px;overflow-y: auto;
}
.types{
width: 200px; height: 75px; overflow-y: auto;
}
